{% extends 'base.html.twig' %}

{% block title %}Se Connecter
{% endblock %}

{% block body %}
	<br><br>
	<div class="text-center">
		<main class="form-signin insc">
			<form class="ta" method="POST">
				<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-fill-add" viewbox="0 0 16 16">
					<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
					<path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4"/>
				</svg>
				<h1 class="h3 mb-3 fw-normal">Se connecter</h1>

				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<div class="form-floating">
					<input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
					<label for="floatingInput">Adresse email</label>
				</div>
				<br>
				<div class="form-floating">
					<input type="password" class="form-control" placeholder="Password" name="password" id="inputPassword">
					<label for="floatingPassword">mots de passe</label>
				</div>

				<br>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="w-100 btn btn-lg btn-dark" type="submit">Connexion</button>
			</form>
		</main>
	</div>
	<br><br>
{% endblock %}
