{% extends 'base.html.twig' %}

{% block title %}créer votre premier potfolio
{% endblock %}

{% block body %}

	<br><br>
	<div class="text-center">

		<main class="form-signin insc">
			<div class="ta">
				<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-fill-add" viewbox="0 0 16 16">
					<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
					<path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4"/>
				</svg>
				<h1 class="h3 mb-3 fw-normal">Céer votre premier Portfolio</h1>

				{{ form_start(form) }}
				{{ form_row(form.image, { 'attr': {'class': 'form-control'} }) }}
				<br>
				{{ form_row(form.nom, { 'attr': {'class': 'form-control '} }) }}
				<br>
				{{ form_row(form.profession, { 'attr': {'class': 'form-control'} }) }}
				<br>
				{{ form_row(form.propos, { 'attr': {'class': 'form-control '} }) }}
				<br>
				{{ form_row(form.dateDeNaissance	, { 'attr': {'class': 'form-control '} }) }}
				<br>
				{{ form_row(form.tel	, { 'attr': {'class': 'form-control '} }) }}
				<br>
				{{ form_row(form.city	, { 'attr': {'class': 'form-control '} }) }}
				<br>
				{{ form_row(form.Qualite	, { 'attr': {'class': 'form-control '} }) }}
				<br>
				{{ form_row(form.competence	, { 'attr': {'class': 'form-control '} }) }}
				<br>
				{{ form_row(form.resume	, { 'attr': {'class': 'form-control '} }) }}
				<br>
				{{ form_row(form.experienceProfessionnel	, { 'attr': {'class': 'form-control '} }) }}
				<br>
				{{ form_row(form.service	, { 'attr': {'class': 'form-control '} }) }}
				<br>
				<button type="submit" class="w-100 btn btn-lg btn-dark">Génerer</button>
				{{ form_end(form) }}
			</div>
		</main>
	</div>
	<br><br>

{% endblock %}
